{% block head %}
    <head>
        {% block stylesheets %}

            <link href="{{ asset('vendor/twbs/bootstrap/dist/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('vendor/twbs/bootstrap/dist/css/bootstrap-theme.css') }}" type="text/css"
                  rel="stylesheet">
            <link href="{{ asset('views/style/style.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('views/style/fa/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
        {% endblock %}
    </head>
{% endblock %}

<body>
<div id="main-wrapper">
    <div class="wrapper container">

        <div class="row">
            <div class="col-xs-10 col-centered">
                <div class="body-background"
                     style="background-image: url('{{ asset("/views/images/body-background.jpg") }}')">
                    <div class="header">
                        <div class="header-image">
                        </div>
                    </div>


                    <div class="body">
                        <div class="body-background-holder">

                        </div>
                        <div class="header-seperator">
                        </div>

                        {% include('home/nav.twig') %}

                    </div>

                    <div class="content">

                        {% block content %}

                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        {% include('home/footer.twig') %}

    </div>
</div>
</body>


{% block footer %}
    <footer>
        {% block javascripts %}
            <script src="{{ asset('vendor/components/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/nnnick/chartjs/dist/Chart.min.js') }}"></script>
            <script src="{{ asset('vendor/twbs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </footer>
{% endblock %}